debug.log
*.log
logs/
.cache
.pyc
.cache/
__pycache__/
.DS_Store
.vscode/
.env
venv/
backup.sql
celerybeat-schedule
schedule_cache.json

# Ignore local testing images in media folders
media/profile_pictures/*
!media/profile_pictures/default.png
media/lunch_cards/*
!media/lunch_cards/default.png
media/uploads/*